@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import 'libs/slick';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.divider {
    width: 1px;
    height: 210px;
    background-color: rgba(255, 255, 255, .1);
    display: block;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/subheader';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/future';
@import 'blocks/reviews';
@import 'blocks/promo-video';
@import 'blocks/clients';
@import 'blocks/sponsors';
@import 'blocks/exibitors';
@import 'blocks/speakers';
@import 'blocks/articles';
@import 'blocks/contacts';
@import 'blocks/register';
@import 'blocks/modal';
@import 'blocks/footer';
@import 'blocks/pageup';
@import 'blocks/page-detail';
@import 'blocks/page-speaker';