.clients {
    min-height: 287px;
    padding: 44px 0 70px 0;
    background-color: rgba(232,216,182, .3);
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__slide {
        position: relative;
        margin-top: 33px;
        width: 180px;
        height: 123px;
        background-color: #ffffff;
        img {
            position: absolute;
            top: 50%;
            left: 50%;                  
            transform: translate(-50%, -50%)
        }
    }
    .prev, .next {
        position: absolute;
        top: 72px;
        left: -37px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        img {
            width: 12px;
            height: 47px;
        }
        &:focus {
            outline: none;
        }
    }
    .next {
        right: -31px;
        left: auto;
    }
    .slick-dots {
        text-align: center;
        display: flex; // поставить кнопки в ряд
        justify-content: center; // выровнять по центру
        list-style: none;
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        button {
            background: #eddfd477;
            border: 1px solid $main-color; 
            border-radius: 50%; 
            height: 15px; 
            width: 15px; 
            margin: 5px;
            outline: none;
            font-size: 0;
        }
        li[class="slick-active"] button {
            background: $main-color;
        }
    }
}
